
.services {
    border: 1px solid rgb(232, 228, 228);
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
}

.services__image img {
    width: 364px;
    height: 300px;
    object-fit: cover;
}

.services__content {

}

.our__service {
    font-size: 16px;
}

@media only screen and (max-width: 480px) {

    .services {
        display: flex;
        flex-direction: column;
    }
}